#jumbo {
    background-image: url(aham.jpg);
    background-size: cover;
    background-position: top;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#publication {
    font-style: italic;
}

h1 {
    color: goldenrod;
}
