#jumbo {
    background-image: url(http://teespring-storecontent.s3.amazonaws.com/0ptF9kUo2E5JIgiMz-s_MA_store_banner_image?1490244197154);
    background-size: cover;
    background-position: top;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#publication {
    font-style: italic;
}

h1 {
    color: goldenrod;
}
